<% @events.each do |event| %>
  <%= render event %>
  <%= link_to event.name, location_event_path(event.location.id, event.id) %>
<% end %>

<p>
  <%= link_to 'New Event', new_location_event_path(@location) %>
</p>
